<!-- app/views/decidim/participatory_processes/participatory_processes/_collection.html.erb
 Partial modificado para incluir listado de propuestas asociadas al Conflicto (Proceso participativo) en la
 vista processes -->
<div class="card__grid-grid">
  <% collection.each do |process| %>

    <div class="fsmac-process-wrapper">

      <%= card_for process, size: :g %>
      <!-- Modificación para todas las propuestas -->
      <% componentes = process.components.where(manifest_name: "proposals", visible: true) %>
      <% if componentes.any? %>
        <div class="fsmac-needs-list mt-2">
          <% componentes.each do |componente| %>
            <% propuestas = Decidim::Proposals::Proposal.where(component: componente) %>
            <% if propuestas.any? %>
              <strong> <%= t("fsmac.needs") %> ( <%= propuestas.count %> ) </strong>
              <ul>
                <% propuestas.limit(6).each do |propuesta| %> 
                  <li>
                    <%= link_to propuesta.translated_attribute(propuesta.title), resource_locator(propuesta).path %>
                  </li>
                <% end %>
                <% if propuestas.count > 6 %>
                  <%= link_to t("fsmac.see_they_f"), participatory_process_path(process) %>
                <% end %>
              </ul>
            <% end %>
          <% end %> 
        </div>
      <% end %>
    </div>
  <% end %>
</div>